{% extends 'layoutT.html' %}
{% block content %}
<br>
<div class="container">
    <div class="center">
    <div class="card shadow-lg">
    <div class="card-body">
        <form enctype="multipart/form-data" method="POST" action="">
        {% csrf_token %}
            <div class="a"><h3>เนื้อหาบทเรียนไทเก๊ก</h3></div>
            <br>
            <div class="form-group">
              <label>ลำดับท่าที่ :</label>
              <input type="text" class="form-control" placeholder="กรอกชื่อเนื้อหา" value="{{learn.pose_id}}" name="id">
            </div>
            <div class="form-group">
              <label>ชื่อเนื้อหา :</label>
              <input type="text" class="form-control" placeholder="กรอกชื่อเนื้อหา" value="{{learn.lesson_name}}" name="nd">
            </div>
            <div class="form-group">
              <label>รายละเอียดเนื้อหา :</label>
              <textarea class="form-control" placeholder="กรอกรายละเอียดเนื้อหา" name="dt" rows="5">{{learn.lesson_detail}}</textarea>
            </div>
            <div class="form-group">
                <label>อัพโหลดรูปภาพประกอบ :</label>
                <input type="file" class="form-control-file border" value="{{ learn.lesson_image}}" name="imup">
            </div>
            <div class="card shadow-lg" style="width: 35rem; margin: 10px">
            <img class="card-img-top" src="{{ MEDIA_URL }}{{ learn.lesson_image}}" alt="Card image cap">
            </div>
            <div class="form-group">
                <br>
                <label>วิดีโอประกอบการสอน :</label>
                <input type="file" class="form-control-file border" value="{{learn.videofile}}" name="vup">
                <br>
                 <video width="400" controls>
                    <source src='{{ MEDIA_URL }}{{learn.videofile}}' type='video/mp4'>
                 </video>
            </div>
            <input type="submit" class="btn btn-warning btn-lg btn-block" value="เพิ่มเนื้อหา">
          </form>
    </div>
  </div>
    </div>
</div>
<br>
{% endblock %}
