{% extends 'layout.html' %}
{% block content %}
<br>
<div class="card text-center">
    <div class="card-header">
        <br>
    </div>
    <div class="card-body">
      <h5 class="card-title">ประวัติรำไทเก๊ก</h5>
      <div class="card-body">
      <p class="card-text">ที่มาของมวยไท่เก๊กหรือที่ภาษาจีนกลางเรียกว่า “ไท่จี๋เฉวียน” นั้นแบ่งเป็นสองช่วง คือช่วงตำนานยุคเก่า และช่วงประวัติศาสตร์ในยุคใหม่

ตำนานยุคเก่า
ว่ากันว่ามวยไท่เก๊กนั้นกำเนิดขึ้นมาตั้งแต่สมัยราชวงค์เหนือใต้ในราชวงค์เหลียงโดยท่านหานก่งเยว่เมื่อราว 1600 ปีก่อน ไม่มีใครทราบว่าท่านคิดค้นมวยนี้ขึ้นเองหรือว่าเรียนมาจากผู้ใด แต่ท่านได้ถ่ายทอดมวยชนิดนี้ให้แก่ท่านเฉิงหลิงสีแห่งเมืองฮุยโจว ซึ่งท่านเฉิงหลิงสีได้นำมวยชนิดนี้ถ่ายทอดให้แก่เหล่าข้าราชการทั้งบุ๋นบู๊ ทำให้เมืองฮุยโจวมีกำลังเข้มแข็งและรอดพ้นจากภัยของกบฏโหวจิ่งในเวลานั้นได้ ท่านเฉิงหลิงสีถ่ายทอดมวยชนิดนี้ในตระกูลและสืบทอดจนมาเป็นที่รู้จักอีกครั้งในยุคของท่านเฉิงปี่เนื่องจากท่านได้เขียนบันทึกบทความอธิบายเกี่ยวกับวิชามวยไว้ โดยท่านเฉิงปี่เรียกมวยชนิดนี้ว่า “เสี่ยวจิ่วเทียนฝ่า” หรือสวรรค์น้อยทั้งเก้า

ในสมัยราชวงค์ถังยังมีผู้ศึกษาวิชาเต๋าท่านหนึ่งชื่อสวี่เซวียนผิงได้ฝึกฝนมวยที่มีรูปแบบเดียวกับมวยไท่เก๊กเรียกว่า “ซานซื่อชี” หรือสามภพเจ็ด และมีอีกชื่อว่า “ฉางเฉวียน” หรือมวยยาว รูปแบบท่าค้ลายคลึงกับมวยไท่เก๊กในปัจจุบัน แต่การศึกษาจะแยกท่าเป็นท่าเดี่ยวๆแล้วจึงนำท่ามาผสานเพื่อร่ายรำและเคลื่อนไหวต่อเนื่องกันไปอย่างอิสระโดยไม่ได้กำหนดลำดับท่าตายตัว

ในสมัยราชวงค์ถังยังมีนักพรตอีกท่านหนึ่งชื่อ หลี่ เต้าจื่อ พักอาศัยอยู่บนเขาบู๊ตึ้ง ฝึกฝนวิชามวยหนึ่งเรียกว่า “เซียนเทียนเฉวียน” หรือ “วิชามวยก่อนสวรรค์” หลี่ ได้เขียนบทกลอนชื่อว่า “โสวมี่เกอ” หรือ “บทเพลงถ่ายทอดเคล็ดลับ” ซึ่งได้อธิบายความสัมพันธ์ขั้นสูงของ เต๋า (เต้า) ชี่กง และศิลปะการต่อสู้

จากนั้น เซวียนเทียนเฉวียน นี้ ได้ถ่ายทอดสืบต่อมาถึงตระกูลหยีว์ แห่งหนิงกว๋อฝู คนของตระกูลหยีว์นี้ อาทิเช่น หยีว์ชิงฮุ่ย หยีว์ยี่เฉิง หยีว์เหลียนโจว ล้วนแต่มีชื่อในวิชาเซวียนเทียนเฉวียนนี้

จางซานฟงกับมวยไท่เก๊ก
บุคคลสำคัญที่สุดในตำนานความเป็นมาของมวยไท่เก๊กนั้นก็คือท่านนักพรตจางซานฟงแห่งเขาบู๊ตึ้ง (แต้จิ๋ว –เตียซำฮง) ผู้ซึ่งถูกยกย่องให้เป็นปรมาจารย์ผู้คิดค้นมวยไท่เก๊ก ซึ่งเรื่องนี้ถูกเล่าเป็นสองทาง ทางหนึ่งเล่ากันว่าท่านจางซานฟงคินค้นมวยไท่เก๊กขึ้นมาจากการที่ท่านได้เข้าใจหลักการต่อสู้ด้วยความอ่อนหยุ่นและการประสานหลักหยินหยางหลังจากที่ได้เห็นการต่อสู้ของงูและนกกระเรียน อีกทางหนึ่งเล่าว่าท่านจางซานฟงได้รวบรวมความรู้ของคนรุ่นก่อนที่ตกทอดสืบมามาปรับปรุงแก้ไขและพัฒนาขึ้นมาจนเป็นระบบมวยสิบสามกระบวนท่าอย่างที่สืบทอดมาถึงในปัจจุบัน แต่ไม่ว่าอย่างไรก็ตามผู้ฝึกไท่เก๊กทั่วโลกต่างก็ยกย่องให้ท่านจางซานฟงเป็นปรมจารย์มวยไท่เก๊กและถือเอามวยไท่เก๊กเป็นหนึ่งในวิชามวยภายในของบู๊ตึ้ง</p>
    </div>
    </div>
    <div class="card-footer text-muted">
        <br>
    </div>
  </div>
{% endblock %}