{% extends 'layout.html' %}
{% block content %}
<style>
    div.a {
        text-align: center;
    }
</style>
<br>
<div class="container">
          <div class="card">
          <div class="card-header">
          ข้อมูลนักศึกษา
          </div>
          {% if u %}
              <div class="container"><div class="container"><br>
              <label for="idstudent">รหัสนักศึกษา :</label>&nbsp{{u.id_sd}}<br>
              <label for="idstudent">ชื่อ-นามสกุล :</label>&nbsp{{u.student_name}}&nbsp{{u.student_lastname}}<br>
              <label for="idstudent">สาขา :</label>&nbsp{{u.branch_student}}<br>
              <label for="idstudent">คณะ :</label>&nbsp{{u.faculty_student}}<br>
              <label for="idstudent">ปีการศึกษาที่เรียนวิชา :</label>&nbsp{{u.year_student}}<br>
              <label for="idstudent">กลุ่มวิชา :</label>&nbsp{{u.group_student}}<br>
              <label for="idstudent">อีเมล :</label>&nbsp{{u.email_student}}<br><br>
              <a class="btn btn-info btn-lg btn-block" aria-current="page" href="editprofile"><i class="fas fa-edit">แก้ไขข้อมูลนักศึกษา</i></a>
               <br>
         {% endif %}
              <div class="card-body">
              </div>
              </div></div>
          </div>
          <br>
    </div>
<!--/container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
{% endblock %}
